body {
    font-family: 'Titillium Web', sans-serif;
}

.navbar {

    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    height: fit-content;
}

h1 { font-size: 66px; font-weight: 600; line-height: 80px; }
h2 { font-size: 48px; margin-bottom: 30px; }

p {
    font-size: 18px;
    color: #999999;
    line-height: 1.8;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

.bg-light-grey { background-color: #f2f2f2; }
.bg-dark { background-color: #010101 !important ; min-height: 300px;}

section {
    padding: 30px;
}

.nav-link { color: white; }

.nav-link:hover {
    color: white; 
}

.dropdown-menu > a:hover { 
    background-color: black;
    color: white; 
}

.logo-brand {
    max-width: 250px;
    min-width: 220px;
}

.offers {
    padding: 50px 80px;
    border-radius: 2px;
    min-width: 450px;
}

.offers h2 {
    font-size: 60px;
    font-weight: 600;
}

.offer-light {
    background-color: white;
    border: 2px solid black;
}

.offer-dark {
    background-color: black;
    border: 2px solid black;
    color: white;
}

.deals-container {
    margin: 15px 0;
}

.topmargin-xs { margin-top: 15px; }
.topmargin-sm { margin-top: 30px; }
.topmargin-lg { margin-top: 60px; }

.btn {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 230px;
    border-radius: 2px;
    display: inline-block;
}

.btn-transparent {

    background-color: transparent;
    color: white;
    border: 2px solid white;

}

.btn-light {
    background-color: white;
    color: #1a1a1a;
    border: 2px solid white;
}

.btn-dark {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.btn-dark a:hover{
    color: white !important;
}

.full-width { width: 100%;}

.navbar-toggler { 
    font-size: 23px; 
    background-color: white;
}

.navbar-toggler:focus { 
    outline: none; 
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.carousel {
    min-height: 240px;
    padding: 40px;
    text-align: center;
}

.carousel p {
    font-size: 22px;
    font-weight: 400;
    color: #1a1a1a; 
}

.rating {
    color: #fFb944 ;
    font-size: 26px;
}

.rating p { color: grey;}

#footer {
    padding: 80px 0;
    text-align: center;
    color: white;
}

#footer a {
    color: white;
}

#footer a:hover {
    color: white;
}

#footer .list-inline .list-inline-item {
     padding: 10px 15px;
}
.gallery-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.gallery-details {
    background-color: #1a1a1a;
    border-radius: 5px;
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 20%;
    z-index: 2;
}

.gallery-container img {
    -moz-transition: all 0,8s;
    -webkit-transition: all 0.8;
    transition: all 0.8s;
}

.gallery-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.8;
}

.gallery-details h2 {

    color: white;
    text-shadow: 2px 2px black;
    font-size: 26px;
    margin-bottom: 0px;
}

.gallery-details a, .gallery-details a p {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 18px;
}


@media (min-width: 576px) { 
    h1 { font-size: 40px; 
        line-height: normal;
    }
 }

@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }

.block{
    background-image: url('images/frontpageGames.jpg');
    background-size: cover;

    background-repeat: no-repeat;
    color: white;
    position: relative;

  }
  
.block:before {
    content: "";
    display: block;
    position: absolute;top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    transition: all .7s linear;
}
  
.block:hover:before {
    background: rgba(0, 0, 0, 0.9);
    
}

.block h2,
.block p,
.block img {
    position: relative;
}
.bodyHot {
    background-image: url(images/bodyHot.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
  
.textgallery {
    font-size: 20px ;
    color: white;
    text-align: center;
}

.imggallery {
       width: 400px;
        height: 500px;
      border-width: 4px;
      border-radius: 25px;
      padding: 10px;
}
 
.platform-container {
    position: relative;
    margin: 10px 0;

}

.platform-details{
    position: absolute;
    color: black;
    bottom: 10px;
    left: 20px;
}

.platform-details h5 { 

    margin-bottom: 0px;
}

.platform-details span {
    font-size: 14px;   
}
